.tl_tbox_nogap{
	padding-bottom: 0;
}

.searchablepages{
	height: 305px;
	overflow: auto;
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 5px;
	padding: 4px;
}

#sub_limitsearchablepages fieldset{

}